main.css
.htaccess
node_modules/
editor-style.css
editor-style.css.map
bundle.js
package-lock.json
.DS_Store
Thumbs.db
debug.log

/*.php
/*.html
/*.txt
/wp-admin
/wp-includes
/wp-content/languages/
/wp-content/uploads/
/wp-content/upgrade/
/wp-content/themes
/wp-content/index.php
/wp-content/plugins/*
!/wp-content/plugins/myfirstPlugin/
!/wp-content/plugins/JWeatherCustomizer/
